<html>
    <title>
        Get Data
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body>
<div id="div1">
<button>Click to view data</button>
</div>
    </body>
    <script>
    $("button").click(function(){
        $.get("http://localhost:3001/getData", {
                },
                function(data, status) {
                    console.log(data)
                    $("#div1").html(JSON.stringify( data));
                });
});
    </script>
</html>