<html lang="en">
<head>
</head>
<body class="container">
<header>
</header>
<main>
    <div class="jumbotron">
        <form method="post" action="/getData">
            <p>Click button to view data</p>

            <input type="submit" value="Get Data">
        </form>
    </div>
</main>

<footer>
</footer>

</body>
</html>